@media screen and (max-width:600px) {
    nav,
    .menu > ul,
    .info,
    .space .space-img,
    .tour-container{
        flex-direction: column;
    }
    .menu li{
        padding-bottom: 15px;
    }
    .banner .banner-head{
        font-size:1.375rem;
    }
    .banner .banner-para{
        font-size: 14px;
    }
    /* form */
    .form-section input{
        width: 80%;
        margin-bottom: 10px;
    }
    .form-section select{
        width: 80%;
        margin-bottom: 10px;
    }
    .form-container button{
        width: 80%;
        
    }
    .tour-img img{
        width: 100%;
    }
    .destination .destination-text{
        width: 80%;
    }
    .destination-text .destination-head{
        font-size: 1.25rem;
    }
    .destination-text .destination-para{
        font-size: .875rem;
    }
    .destination .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
    .grid .grid-item1{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
    .grid .grid-item2{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    
    .grid .grid-item3{
        grid-column: 1/span 1;
        grid-row: 3/span 1 ;
    }
    
    .grid .grid-item4{
        grid-column: 1/span 1;
        grid-row: 4/span 1 ;
    }
    
    .grid .grid-item5{
        grid-column: 1/span 1;
        grid-row: 5/span 1 ;
    }
    
    .grid .grid-item6{
        grid-column: 1/span 1;
        grid-row: 6/span 1 ;
    }
    
    .grid .grid-item7{
        grid-column: 1/span 1;
        grid-row: 7/span 1 ;
    }
    .space-img .img{
        width: 100%;
    }
    .space .space-text{
        width: 95%;
    }
    .service .service-text{
        width: 95%;
    }
    .service .service-flex{
        flex-direction: column;
    }
    .service .service-box{
        width: 85%;
    }
    .service #last-box{
        /* margin: 0 auto; */
        margin: auto;   
    }
    .service .service-head{
        font-size: 1.25rem;
    }
    .service .service-para{
        font-size: .875rem;
    }
    .info .info-text{
        width: 85%;
    }
    .info .info-img{
        width: 100%;
    }
    .info-section .save{
        left: 57%;
        bottom: 130px;
    }
    .info-section .save1{
        font-size: 1rem;
    }
    .info-section .save2{
        font-size: 1.25rem;
    }

}