@media screen and (max-width:600px) {
    nav,
    .menu > ul,
    .tour-container{
        flex-direction: column;
    }
    .menu li{
        padding-bottom: 15px;
    }
    .banner .banner-head{
        font-size:1.375rem;
    }
    .banner .banner-para{
        font-size: 14px;
    }
    .tour-img img{
        width: 100%;
    }
}