
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Mulish", sans-serif;
}

nav{
    width: 81.2%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo{
    display: flex;
    align-items: center;
    padding: 52px 0;
}

.logo .nav-head{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    padding-left: 15px;

}
.travel{
    color: #FF5400;
}

.menu > ul{
    display: flex;
}

.menu li{
    list-style: none;
    padding-right: 30px;
    
}

.menu a{
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;

}

.banner{
    
    width: 81.2%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-image: url('../Images/Group13.png');
    background-size: cover;

}

.banner .banner-text{
    width: 58%;
    max-width: 680px;
    margin: 0 auto;
    
}

.banner .banner-head{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding: 106px 0 30px 0;

}

.banner .banner-para{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 50px;
}

.banner .form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 106px;
    
}

.form-section{
    /* padding-bottom: 106px; */
}

.form-section input{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px;
    width: 174px;
    height: 25px;
}

.form-section button{
    border-radius: 8px;
    background: #FF5400;
    padding: 16px;
    color: #FFF;
    font-weight: 700;
}